<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Genuary <%= perlin.seed %></title>

    <%= yield_content "head" %>
  </head>
  <body>
    <div class="main-content">
      <%= content %>
    </div>
    <%= yield_content "footer" %>
  </body>
</html>